[submodule "deps/device-protocol"]
	path = deps/device-protocol
	url = https://github.com/keepkey/device-protocol.git
[submodule "googletest"]
	path = deps/googletest
  url = https://github.com/google/googletest.git
[submodule "code-signing-keys"]
	path = code-signing-keys
	url = https://github.com/keepkey/code-signing-keys.git
